.cards {
  background-color: $blue-shade;
  padding: 110px 0;

  @include mobile {
    padding: 50px 0;
  }
}

.cards__card {
  background-color: $white;
  border-radius: $border-radius-md;
  box-shadow: 0px 65px 80px -46px $shadow-card;
  padding-bottom: 20px;

  @include laptop-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  @include mobile {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
}

.cards__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cards__title {
  color: $midnight-blue;
  margin-bottom: 15px;
}

.cards__text {
  color: $gray-mid;
  line-height: 30px;
}

.cards__link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: $blue-light;
}

.cards__bottom {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  @include laptop-sm {
    flex-direction: column;
  }
}

.cards__card-img {
  object-fit: cover;
  max-width: 350px;
  max-height: 227px;
  margin-bottom: 20px;
  width: 100%;
}

.cards__info {
  padding-left: 20px;

  @include mobile {
    padding-left: 0;
  }
}

.cards__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: $midnight-blue;
  margin-bottom: 8px;
}

.cards__adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray-chateau;
  margin-bottom: 20px;

  @include mobile {
    font-size: 12px;
    line-height: 14px;
  }
}

.cards__features {
  display: flex;
  gap: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $gray-gravel;

  @include mobile {
    justify-content: center;
    font-size: 12px;
  }
}

.cards__feature {
  display: flex;
  align-items: center;
  gap: 8px;
}