$white: #FFFFFF;
$black: #000000;
$white-op75: rgba(255, 255, 255, 0.75);
$gray-header: #4F5361;
$gray-footer: #7A7A7E;
$black-blueish: #000336;
$midnight-blue: #000339;
$marine-blue: #002366;
$blue-dark: #0F1B4C;
$blue-vibrant: #063183;
$blue-light: #0689FF;
$blue-shade: #F5FAFE;
$gray-storm: #687690;
$titan-white: #E6F0FF;
$gray-mid: #5A6473;
$gray-smoke: #7D8589;
$gray-logo-bgd: #C4C4C4;
$charcoal: #3B3C45;
$gray-chateau: #A3A6AB;
$gray-gravel: #444444;
$silver: #A7A7A7;
$granite: #7B8087;
$oil-gray: #1C1C1D;
$ghost: #F9F9F9;
$footer-icon-gray: #646464;
$nickel: #C2C2C2;
$logo-header: #000228;
$logo-color: #101010;
$main-font-family: "Poppins", sans-serif;
$secondary-font-family: "Lato", sans-serif;
$shadow-card: #e2eef999;
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-big: 20px;
$light-shadow: #0000000a;




